<div class="h-screen flex justify-center items-center">
  <div class="flex flex-col items-center h-1/4 space-y-8">
    <h1 class="text-6xl lycanthrope">LICANTROGIE</h1>
    <.link
      navigate={~p"/auth/facebook"}
      class="py-3 px-5 border-2 rounded-full font-medium border-white hover:bg-white hover:text-black"
    >
      ENTRAR CON FACEBOOK
    </.link>
  </div>
</div>
