@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background {
  background-image: url("/images/bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
}
