@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Lycanthrope;
  src: url("/fonts/Lycanthrope.ttf");
}

.lycanthrope {
  font-family: Lycanthrope;
}

.background {
  background-image: url("/images/bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
}

@layer components {
  .votes-open {
    width: 100%;
    display: grid;
    grid-template-columns: 52px 1fr 48px 48px;
  }

  .votes-closed {
    width: 100%;
    display: grid;
    grid-template-columns: 52px 1fr 48px;
  }
}
